In [1]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("reference_table-128.csv")
df2 = pd.read_csv("reference_table-256.csv")

In [7]:
pins = np.random.randint(1000, 9999, size=len(df))

In [8]:
df[df.name == "Michael_Hood"]

,name,url,0,1,2,3,4,5,6,7,...,118,119,120,121,122,123,124,125,126,127
15,Michael_Hood,https://www.linkedin.com/in/michaelahood/,0.104484,0.03215,0.043782,0.066376,0.054078,0.138499,-0.221438,0.114827,...,-0.044947,-0.036056,-0.002106,0.121578,-0.050939,0.024652,-0.043933,-0.055061,0.013266,-0.083067

In [9]:
pins[15] = 5110

In [10]:
pins

array([6397, 3350, 8840, 8319, 2534, 4122, 2414, 3745, 5621, 4553, 2511,
       2339, 9952, 9029, 3510, 5110, 1260, 2702, 6910, 1662, 4766, 9133,
       3362, 6772])

In [42]:
df["pin"] = pins
df2["pin"] = pins

In [26]:
df.to_csv("reference_table-128.csv", index=False)

In [27]:
df.head()

,name,url,0,1,2,3,4,5,6,7,...,120,121,122,123,124,125,126,127,pins,pin
0,Arne_Klubberud,https://www.linkedin.com/in/arne-klubberud-665...,0.070484,-0.041177,0.069168,0.076272,0.137468,0.052626,0.024314,0.100133,...,-0.028250,0.141832,-0.183499,0.042752,0.033140,-0.054842,-0.080211,-0.045614,6397,6397
1,Blas_Yslas,https://www.linkedin.com/in/blas-yslas-a53373b/,-0.104493,0.048320,-0.071764,0.035950,0.001496,0.114856,-0.115042,0.052725,...,0.002123,0.042748,0.006790,-0.083624,-0.080102,0.064649,-0.017459,0.050484,3350,3350
2,Brooke_Coburn,https://www.linkedin.com/in/brooke-coburn-0886...,0.019926,-0.235171,-0.007148,0.153370,-0.057668,-0.109835,0.093490,0.141712,...,-0.027600,0.066876,0.001260,0.086747,-0.029563,0.010178,0.189941,0.028910,8840,8840
3,Cam_Dyer,https://www.linkedin.com/in/cam-dyer-163066138/,-0.029888,0.044159,0.030513,-0.001062,-0.029903,-0.050779,-0.012312,0.079466,...,-0.087076,0.128158,0.130298,-0.174629,0.193243,-0.075953,0.098921,0.012646,8319,8319
4,Dalton_Shaughnessy,https://www.linkedin.com/in/dalton-shaughnessy...,0.072567,0.104197,0.026666,0.041744,-0.033023,-0.055811,-0.135686,0.091173,...,0.172063,0.006497,0.014969,-0.116085,0.002469,0.050177,0.137021,-0.019638,2534,2534

In [47]:
df_new = df[["name", "url", "pin"]]
df_new = pd.concat([df_new, df.drop(["name", "url", "pin","pins"], axis=1)], axis=1)
df_new2 = pd.concat([df_new, df2.drop(["name", "url", "pin","pins"], axis=1)], axis=1)

In [46]:
df_new.to_csv("reference_table-128.csv", index=False)

In [49]:
df_new2.to_csv("reference_table-256.csv", index=False)

In [50]:
df = df_new

In [55]:
for row in df.head().iterrows():
    print row[1][0].replace('_', ' ')
    print row[1][1]
    print row[1][2]

Arne Klubberud
https://www.linkedin.com/in/arne-klubberud-6658071/
6397
Blas Yslas
https://www.linkedin.com/in/blas-yslas-a53373b/
3350
Brooke Coburn
https://www.linkedin.com/in/brooke-coburn-08865968/
8840
Cam Dyer
https://www.linkedin.com/in/cam-dyer-163066138/
8319
Dalton Shaughnessy
https://www.linkedin.com/in/dalton-shaughnessy-74a49b21/
2534

In [56]:
from scipy.spatial.distance import euclidean

def get_distances(img_vector, vectors):
    return np.apply_along_axis(euclidean, 1, vectors, img_vector)

In [59]:
v1 = np.array([-0.10449281,  0.04832045, -0.071763])
v2 = np.array([0.07587371,  0.04368477,  0.08936375])

In [62]:
get_distances(v1.reshape(1, 3), v2.reshape(1, 3))

array([ 0.24189957])

In [63]:
c = collection.find({})

NameError: name 'collection' is not defined

In [64]:
global SESSION_NAME
SESSION_NAME = None

In [66]:
names = ['alice', 'bob']

In [67]:
identified_name = 'bob'

In [68]:
SESSION_NAME = identified_name

In [69]:
SESSION_NAME

'bob'

In [70]:
for name in names:
    if name == SESSION_NAME:
        print "green"

green